.home-parent-div {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.home-form-content-div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    transition: background-image 1s ease-in;
}


.home-left-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-left: 4rem;
    color: white;
    transform: translateX(5%);
    transition: transform 1s ease-in-out;

}

.home-left-div-animate {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-left: 4rem;
    color: white;
    transform: translateX(0%);

}

.home-left-div span {
    font-size: 1.1rem;
}

.home-left-div h1 {
    font-size: 3rem;
}

.safe {
    font-weight: 200;
    color: #b87720;
}

.clean {
    color: #234579;
}

.home-left-div span {
    font-weight: 600;
}

.btn-home-div {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
}

.home-readmore-btn,
.home-services-btn {
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;

}

.home-readmore-btn {
    background-color: #b87720;
    color: white;
    box-shadow: 1px 1px 1px 1px white;

}

.home-services-btn {
    background-color: white;
    color: black;
    box-shadow: 1px 1px 1px 1px grey;
}



.home-right-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    box-shadow: none !important;
}


.request-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    color: #b87720;
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    font-family: 'Times New Roman', Times, serif;
}

.form-home-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 80%;
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 2px 2px 2px white;
    transform: translateX(-5%);
    transition: transform 2s ease-in-out;
    background-color: #234579;
}

.form-home-div-animate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 80%;
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 2px 2px 2px white;
    transform: translateX(20%);

}

.form-home-div input {
    padding: 8px;
    border-radius: 7px;
    outline: none;
    border: none;
}

.pricing-btn-div {
    width: 100%;
}

.pricing-btn-div button {
    text-align: center;
    color: white;
    padding: 1rem;
    border: none;
    width: 100%;
    font-weight: 600;
    border-radius: 7px;
    background-color: #b87720;

}

.pricing-btn-div button:hover {
    background-color: #7A9B34;
}


.mid-div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 3rem;
}

.content {
    font-size: 1.5rem;
}

.uper-mid-div,
.mid-logo-div,
.mid-heading-div,
.mid-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid-logo-div img {
    width: 100%;
    height: 10rem;
}

.mid-heading-div {
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.years {
    color: #234579;
}

.mid-content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.read-more-btn {
    padding: 1rem;
    color: white;
    font-weight: 700;
    border: none;
    background-color: #234579;
    box-shadow: 4px 4px 4px 2px grey;
    text-decoration: none;

}


.read-more-btn:hover {
    color: white;
    box-sizing: border-box;
    background-color: #7A9B34;

}

.lower-mid-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7A9B34;

}

.card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px grey;
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.6s ease;
}

.card-div:hover {
    background-color: #b87720;
    color: white;
}

.parent-type-ofpannel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.Monocrystalline,
.Polycrystalline,
.bificial-div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 2px 2px 2px 2px #234579;

}

.monocrystalline-img-div img {
    width: 100%;
    height: 15rem;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.policrystiline-img-div img,
.bificial-img-div img {
    width: 100%;
    height: 15rem;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.about-sunsine-more-div {
    display: flex;
}

.about-sunsine {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sunsine-left-div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about-sun-sakti-read-more-btn {
    padding: 2rem;
}

.about-read-more-link {
    background-color: #234579;
    padding: 8px;
    color: white;
    box-shadow: 2px 2px 2px 2px grey;
    text-decoration: none;

}

.left-content-div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 2rem;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.left-content-div h2 {
    text-align: center;
}

.sunsine-right-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex: 1;
}

.sunsine-right-div img {
    width: 100%;
    border-radius: 10px;
}

.why-choose-div {
    display: flex;
}


.left-choose-div {
    display: flex;
    flex: 1;
    padding: 1rem;

}
.why-choose-lower-content-div{
    padding: 1rem;
}

.left-choose-div img {
    width: 100%;
    border-radius: 8px;
}

.right-choose-div {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
    flex: 1;
}

.heading-choose-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-right-chooseCard-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.right-content-div {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:720px) {


    .home-form-content-div {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        transition: background-image 1s ease-in;
    }
    .card-div {
        width: 100%;
    }

    .home-left-div {
        padding-left: 0rem;
        transform: none;
        transition: none;
        padding: 0;
    }

    .home-left-div span,
    .home-left-div-animate span {
        font-size: 10px;

    }

    .home-left-div h1 {
        font-size: 1.5rem;
    }

    .home-left-div-animate {
        padding-left: 0rem;
        transform: none;
    }

    .btn-home-div {
        gap: 1rem;
    }

    .home-readmore-btn,
    .home-services-btn {
        padding: 1rem;
        text-decoration: none;
        font-weight: normal;
        font-size: 10px;
        border-radius: 7px;

    }

    .form-home-div {
        padding: 1rem;
        width: 100%;
        box-shadow: none;
        transform: none;
        transition: none;
    }

    .form-home-div-animate {
        width: 100%;
        box-shadow: none;
        transform: none;

    }

    .mid-div {
        padding: 0rem;
        padding-top: 0rem;
    }

    .content {
        font-size: 1rem;
    }

    .read-more-btn {
        padding: 0.5rem;
        color: white;
        font-weight: normal;
        border: none;
        background-color: #234579;
        text-decoration: none;

    }

    .lower-mid-div {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        padding: 1rem;
        gap: 1rem;
        align-items: center;
        justify-content: center;

    }


    .parent-type-ofpannel {
        padding: 1rem;
        font-size: 10px;
        flex-wrap: wrap;
    }

    .monocrystalline-img-div img {
        width: 100%;
        height: 8rem;
    }

    .policrystiline-img-div img,
    .bificial-img-div img {
        width: 100%;
        height: 8rem;
    }

    .about-sunsine {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }

    .why-choose-div {
        display: flex;
        flex-direction: column;    
    }

    .lower-right-chooseCard-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0rem;
        gap: 1rem;
    }

    .right-content-div{
        padding: 1rem;
    }

    .right-content-div h3{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }
   
    


}


@media screen and (min-width: 720px) and (max-width: 1000px) {
    .lower-mid-div {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        padding: 2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #7A9B34;
    
    }

    .card-div {
        width: 100%;
    }


}