/* Add your other styles... */

.description-content-div{
    padding: 2rem;
}


.description-content-div h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.benifits-residendtial-div{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.desription2-div{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.desription2-div h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

  