/* @font-face {
  font-family: 'Lato', sans-serif;
  src: url('./assets/Lato-Regular.ttf');
} */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 600px) {
  body::-webkit-scrollbar {
    width: 0.1em;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track invisible */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the thumb (the draggable part) invisible */
  }
}